<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">

                <h1>Coronavirus Update</h1>
                <p>This website will provide you current status of novel coronavirus in india for frontline workers,
                    particularly those in the healthcare, government, and nonprofit fields,
                    with unlimited access to our full suite of data-collection tools while you’re tackling the COVID-19
                    pandemic.
                </p>
                <p>Check this website to get updated with novel coronavirus status in india. Since few modules are
                under constructions you might get ASAP.</p>
                <p>Soon we will come up with new Innovative idea, Hope you may like it. <span class="glyphicon glyphicon-heart"></span></p>


                <p style="font-size:15px;">Sincerely</p>
                <p style="color:blue; font-size:15px;">Rahul Tiwari, Founder</p>

            </div>
        </div>
    </div>

</div>